td button.status {
    background-color: var(--PrimaryColor);
    color: #fff;
    min-width: 55%;
}

button.status :focus {
    background-color: rgb(255, 0, 0)505;
}

button p {
    font-size: 14px;
}