@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.mainContent {
  width: 82%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);

  /*Font  and Typography*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .913rem;
  --smallestFontSize: .75rem;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  width: 82%;
  height: 100%;
}

.formbold-form-wrapper {
  margin: 0 auto;
  height: 850px;
  padding: 5rem;
  width: 100%;
  background: white;
  border-radius: 1rem;

  h1 {
    margin-bottom: 5rem;
    color: var(--PrimaryColor);
  }

  .image {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;

    // label {

    //   .icon {
    //         font-size: 2rem;
    //     }

    //     &:hover {
    //       color: var(--PrimaryColor);
    //   }
    // }

    input {
      margin-left: 7rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  justify-content: center;
}

.formbold-input-flex>div {
  width: 50%;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #DDE3EC;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  color: #07074D;
  outline: none;
  resize: none;
}

.formbold-form-input::placeholder {
  color: #536387;
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-form-label {
  color: #07074D;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-btn {
  margin-left: 26rem;
  text-align: center;
  width: 40%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6A64F1;
  color: white;
  cursor: pointer;
  margin-top: 25px;

  &:disabled{
    background-color: rgba(3, 92, 92, 0.322);
    cursor: not-allowed;
  }
}

.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.time{
  margin-top: 10px;
  margin-left: 340px;
}

@media screen and (max-width: 1818px) {
  .date{
    margin-left: 320px;
  }

  .time{
    margin-top: 10px;
    margin-left: 340px;
  }

  .formbold-btn{
    margin-left: 230px;
  }
}

@media screen and (max-width: 600px) {
  .date{
    margin-left: 50px;
  }

  .time{
    margin-top: 10px;
    margin-left: 65px;
  }

  .formbold-btn{
    margin-left: 65px;
  }
}